body {
    background-color:burlywood !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.fondo {
    background-image: url(/trabajos/LDM_trabajos/src/img/fondo.jpg) !important;
}

.fondo2 {
    background-image: url(/trabajos/LDM_trabajos/src/img/fond2.jpg) !important;
}

