body {
    background-color:burlywood !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.fondo {

    background-image: url(../img/fondo.jpg) !important;
}

/* ejercicio6 */

#create_palin{
    display: inline;
}

